#page-transition {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #003366; /* Color for transition */
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Figtree', sans-serif;
    background: linear-gradient(135deg, #003366, #47a6a8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 400px;
    padding: 20px;
}

.content {
    flex: 1;
    position: relative;
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    font-weight: 400;
}

.message {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.loading-spinner {
    border: 6px solid rgba(255, 255, 255, 0.3);
    border-top: 6px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 10px 0 20px 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.upload {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.resume-upload {
    display: none; /* Hide the default file input */
}

/* Style the label to match the theme and look like a button */
.custom-file-upload {
    background-color: white;
    color: #003366;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #003366;
    color: white;
}

.logo {
    margin-left: 20px;
}

.nyu-logo {
    width: 300px;
    height: auto;
    opacity: 0.8;
}
